.ribbon {
  width: 100%;
  height: 15vh;
  padding: 25px 70px;
  background-color: #E6E5E5;
}

.logo {
  float: right;
  width: 200px;
}

.experiment-info {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #F7F5F5;
  height: 85vh;
}

.textfields {
  margin-left: 50px;
}

h2 {
  color: #4bb194;
  margin-bottom: 20px;
}

.add-experiment {
  font-size: 1.2em;
  margin-top: 25px;
  padding: 7px 10px;
  background-color: #ED6C05;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
}

.mat-accordion {
  display: inline-block;
  width: 60%;
}
