<!-- <div class="container">
    <article class="form-body mat-elevation-z1">
        <h1 :afther >inloggen</h1>
        <div >
              <mat-form-field matInput appearance="outline">
                <mat-label>E-mail adres</mat-label>
                <input type="email" matInput placeholder="E-mail">
              </mat-form-field>
              <mat-form-field matInput appearance="outline">
                <mat-label>Wachtwoord</mat-label>
                <input type="password" matInput placeholder="Wachtwoord">
                <mat-icon matSuffix>remove_red_eye</mat-icon>
              </mat-form-field>
              <a routerLink='/register' mat-stroked-button color="primary">Registreer</a>
              <a routerLink='/reset-password' mat-stroked-button color="primary">Wijzig wachtwoord</a>
              <button type="submit" mat-flat-button color="primary">Login</button>
        </div>
    </article>
</div> -->

<div class="container">
    <article class="form-body mat-elevation-z1">
        <h1 :afther >Inloggen</h1>

            <form [formGroup]="userLoginForm" (ngSubmit)="onLogin()">

                <div class="textfields">
                  <mat-form-field matInput appearance="outline">
                    <mat-label>E-mail adres</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="E-mail" required>
                    <mat-error>error</mat-error>
                  </mat-form-field>

                  <mat-form-field matInput appearance="outline">
                    <mat-label>Wachtwoord</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Wachtwoord" required>
                    <mat-icon matSuffix>remove_red_eye</mat-icon>
                  </mat-form-field>

                </div>

                <div class="buttongroep">
                    <div class="buttonsleft">
                        <button class='Registreer' routerLink='/register' mat-flat-button color="primary">Registreer</button>
                        <button class='Reset' routerLink='/reset-password' mat-flat-button color="primary">Reset wachtwoord</button>
                        <!-- <a routerLink='/register' mat-stroked-button color="primary">Registreer</a> -->
                        <!-- <a routerLink='/reset-password' mat-stroked-button color="primary">Wijzig wachtwoord</a> -->
                    </div>
                    <div class="buttonsright">
                        <button [disabled]="!userLoginForm.valid" class="Login" type="submit" mat-flat-button color="primary" autofocus>Login</button>
                    </div>
                </div>
              </form>
    </article>
</div>
