<div class="container">
    <mat-card>
            <form [formGroup]="userLoginForm" (ngSubmit)="onLogin()" (keydown.enter)="$event.preventDefault()">

              <img src="/assets/img/OMgeving_logo.png" alt="Omgeving logo">

              <div class="textfields">
                  <mat-form-field matInput appearance="outline">
                    <mat-label>E-mail adres</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="E-mail" required>
                    <mat-error>E-mail incorrect</mat-error>
                  </mat-form-field>

                  <mat-form-field matInput appearance="outline">
                    <mat-label>Wachtwoord</mat-label>
                    <input type="password" formControlName="password" matInput placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Wachtwoord incorrect</mat-error>
                  </mat-form-field>

              </div>

                <div class="button-groep">
                        <ul class="float-left">
                          <li><button type="button" class='link' routerLink='/register' mat-flat-button color="primary">Account aanmaken</button></li>
                          <li><button type="button" class='link' routerLink='/forgot-password' mat-flat-button color="primary">Wachtwoord wijzigen</button></li>
                        </ul>
                        <button [disabled]="!userLoginForm.valid" class="form-button float-right" type="submit" mat-flat-button color="primary" autofocus>Login</button>
                </div>
              </form>
    </mat-card>
</div>
