.container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #4bb194;
}
.container h1::after {
    /* content: ' ';
    position: absolute;
    display: block; */
    background-color: red;;
    width: 50px;
    bottom: 2px;
    left: 45%;
    border-bottom: 1px solid lightgray;
}
.container h1 {
    position: relative;
    padding: 15px 0;
    color: #001b36;
}
.form-body {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    width: 470px;
    padding: 20px;
    margin: auto auto;
}

.form-body mat-form-field {
    width: 100%;
    padding-bottom: 10px;
}

a:last-child {
    width: 100px;
    float: right;
    background-color: #ed6c05
}