<div class="container">
    <article class="form-body mat-elevation-z1">
        <h1 :afther >Registreren</h1>
        <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field matInput appearance="outline">
                <mat-label>Volledige naam</mat-label>
                <input type="naam" formControlName="name" matInput placeholder="Volledinge naam" required>
              <mat-error>error</mat-error>
            </mat-form-field>
              <mat-form-field matInput appearance="outline">
                <mat-label>E-mail adres</mat-label>
                <input type="email" formControlName="email" matInput placeholder="E-mail" required>
                <mat-error>error</mat-error>
              </mat-form-field>
              <mat-form-field matInput appearance="outline">
                <mat-label>Wachtwoord</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>error</mat-error>
              </mat-form-field>
              <button class="Terug" routerLink='/login' mat-flat-button color="primary">Terug</button>
              <button class="Registreer" type="submit" mat-flat-button color="primary">Registreer</button>
        </form>


    </article>
</div>
