<div class="ribbon">
  <img class="logo" src="/assets/img/OMgeving_logo.png" alt="Omgeving logo">

  <input type="text" name="search" placeholder="search">
  <br>

  <select>
    <option value="" selected>Task</option>
    <option value="1">Task1</option>
  </select>

  <select>
    <option value="" selected>No Category</option>
    <option value="1">Category1</option>
  </select>

  <select>
    <option value="" selected>No Milestone</option>
    <option value="1">Milestone1</option>
  </select>

  <button class="sort-by">Experiment Naam</button>
  <button class="sort-by">Auteur Naam</button>
  <button class="sort-by">Laatst Gewijzigd</button>


</div>

<div class="experiment-list">
  <app-experiment-card *ngFor="let experiment of experimentList" [experiment]="experiment"></app-experiment-card>

</div>
