<div class="container">

  <article class="form-body mat-elevation-z1">

    <h1>Wijzigen wachtwoord</h1>

    <form [formGroup]="changePasswordFormGroup"
          (ngSubmit)="onFormSubmit()" novalidate>

      <mat-form-field appearance="outline">

        <mat-label>Wachtwoord</mat-label>

        <input type="password" min="8" max="255" formControlName="password" matInput placeholder="Wachtwoord"
               [(ngModel)]="changePasswordModel.password" [type]="getPasswordInputType()" required>

        <button type="button" mat-icon-button matSuffix (click)="toggedPasswordVisibility()">
          <mat-icon>{{getPasswordIcon()}}</mat-icon>
        </button>

        <mat-error>
          Wachtwoord moet minimaal 8 tekens lang zijn, moet een HOOFDLETTER en een symbool bevatten.
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Wachtwoord</mat-label>
        <input type="password" formControlName="passwordRepeated" matInput placeholder="Wachtwoord" required>
        <mat-error>
          Wachtwoord komt niet overeen
        </mat-error>

      </mat-form-field>
      <button typeof="submit" mat-flat-button color="primary" class="form-button float-right w-100"
              [disabled]="!changePasswordFormGroup.valid">
        wijzig wachtwoord
      </button>

    </form>

  </article>

</div>

