<div class="container">
    <article class="form-body mat-elevation-z1">
        <h1 :afther >Wijzigen wachtwoord</h1>
        <div>
            <mat-form-field matInput appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Volledinge naam">
              </mat-form-field>
        </div>
        <button class="Terug" routerLink='/login' mat-flat-button color="primary">Terug</button>
        <button mat-flat-button color="primary">Stuur</button>
    </article>
</div>
