.card {
  display: inline-block;
  width: 470px;
  height: 220px;
  margin: 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  transition: 0.3s;
}

.card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.2em;
  white-space: nowrap;
}

.card:hover {
  transform: scale(1.05)
}

.color-indicator {
  float: left;
  width: 17px;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.green {
  background-color: #5EB5A6;
}

.orange {
  background-color: #E7B867;
}

.red {
  background-color: #ED8077;
}

.card-content {
  padding: 5px 30px;
}

.card-content p {
  font-size: 1.1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  max-height: 50px;
  overflow: hidden;
}

.author {
  margin: 20px 15px 0 0;
}

.hidden {
  display: none;
}

.card .status {
  width: 120px;
  background-color: #E6E5E5;
  color: #212529;
  text-align: center;
  border-radius: 3px;
  padding: 2px 0;

  position: absolute;
  top: 5px;
  right: 5px;
}
