<div class="logocontainer">
  <img class="logo" src="assets/img/testlabOM_logo.png" alt="Omgeving logo">
</div>
<div id="particles-js" class="container">

  <article class="form-body mat-elevation-z1">

    <h1>Registreren</h1>
    <form [formGroup]="userRegisterForm" (keydown.enter)="onSubmit()">

      <mat-form-field matInput appearance="outline">
        <mat-label>Volledige naam</mat-label>
        <input type="naam" formControlName="name" matInput placeholder="Volledinge naam"  required>
        <mat-error>Geen geldige naam</mat-error>
      </mat-form-field>

      <mat-form-field matInput appearance="outline">
        <mat-label>E-mail adres</mat-label>
        <input type="email" formControlName="email" matInput placeholder="E-mail" minlength="3" maxlength="191" required>
        <mat-error>Geen geldig e-mail adres</mat-error>
      </mat-form-field>

      <mat-form-field matInput appearance="outline">
        <mat-label>Wachtwoord</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Wachtwoord"
               [type]="isPasswordHidden() ? 'password' : 'text'" minlength="8" maxlength="255" required>

        <button type="button" mat-icon-button matSuffix (click)="togglePasswordType()"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordHidden()">
          <mat-icon>{{isPasswordHidden() ? 'visibility_off' : 'visibility'}}</mat-icon>

        </button>

        <mat-error>
          Wachtwoord moet minimaal bevatten: kleine letter, hoofdletter, getal en symbool. Minimaal 8 karakters.
        </mat-error>

      </mat-form-field>

      <button type="button" class="link" routerLink='/login' mat-flat-button color="primary">Terug</button>

      <button [disabled]="!isFormValid()" class="form-button float-right" type="submit" mat-flat-button
              color="primary" (click)="onSubmit()">Registreer
      </button>

    </form>
  </article>
</div>
<script src="assets/particles/particles.min.js"></script>
