<div class="container">
    <article class="form-body mat-elevation-z1">
      <h1 :afther >Wijzigen wachtwoord</h1>
        <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" novalidate>
          <mat-form-field matInput appearance="outline">
            <mat-label>E-mail adres</mat-label>
            <input type="email" formControlName="email" matInput placeholder="E-mail" required>
            <mat-error>Geen geldig e-mail adres</mat-error>
          </mat-form-field>
        </form>
      <button class="link" routerLink='/login' mat-flat-button color="primary">Terug</button>
      <button [disabled]="!changePassForm.valid" class="form-button float-right" type="submit" mat-flat-button color="primary">Versturen</button>
    </article>
</div>

