
.delete-button {
  margin: 0 10px;
padding: 0 10px;
background-color: #ED6C05;
border: none;
border-radius: 3px;
color: #FFFFFF !important;
cursor: pointer;
}

.identify-button {
  margin: 0 10px;
  padding: 0 10px;
  background-color: #BA81EB;
  border: none;
  border-radius: 3px;
  color: #FFFFFF !important;
  cursor: pointer;
  display: block;
  height: 22px;
}

.description, mat-panel-title{
  max-width: 40%;
  overflow: hidden;
  width: 40%;
}

.identify-button:hover{
  background-color: #a472d1;
}
