.name {
  margin: 0 10px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.rol {
}
.delete-button {
  margin: 0 10px;
  padding: 0 10px;
  background-color: #ED6C05 !important;
  border: none;
  border-radius: 3px;
  color: #FFFFFF !important;
  cursor: pointer;
}
