<mat-expansion-panel *ngIf="!isUserRemoved">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{user.name}}
    </mat-panel-title>
    <mat-panel-description>

      <span class="description">{{user.email}}</span>
      <button *ngIf="isUnidentified" class="identify-button" (click)="upgradeRole()">Identify</button>    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput (change)="onSubmit()" name="email" placeholder="{{user.email}}" required
             value="{{user.email}}" formControlName="email">
      <mat-error>error</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gebruikersnaam</mat-label>
      <input matInput (change)="onSubmit()" name="Naam" placeholder="{{user.name}}" required
             value="{{user.name}}" formControlName="name">
      <mat-error>error</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ user.role }}</mat-label>
      <mat-error>error</mat-error>
      <mat-select (ngModelChange)="onSubmit()" formControlName="role" (change)="onSubmit()">
        <mat-option [value]="'UNIDENTIFIED'">UNIDENTIFIED</mat-option>
        <mat-option [value]="'GEBRUIKER'">GEBRUIKER</mat-option>
        <mat-option [value]="'MEDEWERKER'">MEDEWERKER</mat-option>
        <mat-option [value]="'ADMIN'">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="delete-button" type="submit" (click)="onDelete()" >Verwijder</button>

  </form>
</mat-expansion-panel>
