<div id="main" class="main">
  <header>
    <div id="menu" class="menu">
      <div class="welcome">
        <div class="vertical-align">
          <h1>Welkom</h1>
          <h1 class="user">user</h1>
        </div>
      </div>

      <div class="buttons">
        <a class="selected" href="/home"><img src="/assets/img/icons/Experiment_view.png" alt="experiments">Experiment view</a>
        <a href="#"><img src="/assets/img/icons/Add_experiment.png" alt="add">Add experiment</a>
        <a href="#"><img src="/assets/img/icons/User_management.png" alt="users">User management</a>
        <a href="#"><img src="/assets/img/icons/Export_experiment.png" alt="export">Export experiment</a>
      </div>
      <div class="bottom-button">
        <a class="logout" href=""><img src="/assets/img/icons/Log_out.png" alt="log-out">Log out</a>
      </div>
    </div>
  </header>
  <main>
    <div class="main-screen">
      <app-dasboard></app-dasboard>
    </div>
  </main>
</div>
