<div class="ribbon">
  <a class="logo" href="/home"><img src="/assets/img/OMgeving_logo.png" alt="Omgeving logo"></a>

  <input #search_value type="text" name="search" placeholder="search">
  <button (click)="onSearch(search_value.value)" class="search-button">Zoek</button>
  <br>

  <select (change)="changePhase($event)">
    <option selected>Filter/ oder</option>
    <p>Fase:</p>
    <option value="filter/fase/Lab in">Lab in</option>
    <option value="filter/fase/Lab uit">Lab uit</option>
    <option value="filter/fase/idee">Idee</option>
    <hr>
    <p>Status:</p>
    <option value="filter/status_kleur/Groen">Groen</option>
    <option value="filter/status_kleur/Rood">Rood</option>
    <option value="filter/status_kleur/Oranje">Oranje</option>
    <hr>
    <p>Archief:</p>
    <option value="filter/archive/HoF">Hall of fame</option>
    <option value="filter/archive/GY">Graveyard</option>
    <hr>
    <p>Experiment naam:</p>
    <option value="order/experiment_naam/ASC">Experiment Naam ↑</option>
    <option value="order/experiment_naam/DESC">Experiment Naam ↓</option>
    <hr>
    <p>Experiment leider:</p>
    <option value="order/experiment_leider_primair/ASC">Leider Naam ↑</option>
    <option value="order/experiment_leider_primair/DESC">Leider Naam ↓</option>
    <hr>
    <p>Laatst gewijzigd:</p>
    <option value="order/wijziging_datum/ASC">Gewijzigd ↑</option>
    <option value="order/wijziging_datum/DESC">Gewijzigd user.name↓</option>
  </select>

</div>

<div class="experiment-list">
  <app-experiment-card
    *ngFor="let experiment of experimentList"
    [experiment]="experiment"
    (click)="onExperimentClick(experiment)"></app-experiment-card>

</div>
